<mat-toolbar color="primary" class="header-toolbar">

    <div class="left-side"><span class="app-title" routerLink="/" style="cursor:pointer">MyApp</span>
        <span class="spacer"></span>

        <a mat-button routerLink="/profile" routerLinkActive="active-link">Profile</a>
        <span class="spacer"></span>
    </div>
    <div class="right-side">
        @if (userStore.user()) {
        <button mat-button="fill" class="logout-btn" (click)="logout()">Logout</button>
        <span class="username">Hello, {{ userStore.user()?.name }}</span>

        }
        @else {
        <a mat-button [routerLink]="router.url === '/login' ? '/register' : '/login'"
            routerLinkActive="active-link">{{router.url === '/login' ? 'Register' : 'Login'}}</a>
        }

    </div>


</mat-toolbar>