<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" name="email" autocomplete="new-email" />
            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <div class="error">
                @if (loginForm.get('email')?.errors?.['required']) {
                <small>Email is required</small>
                }
                @if (loginForm.get('email')?.errors?.['email']) {
                <small>Not valid Email</small>
                }
            </div>
            }
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" name="password" autocomplete="new-password" />
            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <div class="error">
                @if (loginForm.get('password')?.errors?.['required']) {
                <small>Password is required.</small>
                }
                @if (loginForm.get('password')?.errors?.['length']) {
                <div><small>Password must be at least 6 characters long.</small></div>
                }
                @if (loginForm.get('password')?.errors?.['passwordPattern']) {
                <div><small>Password must contain both letters and numbers.</small></div>
                }
            </div>
            }
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" [disabled]="loading()" type="submit">
            {{ loading() ? 'Logging in...' : 'Login' }}
        </button>
    </form>