<mat-card class="edit-profile-card">
    @if (!loading()) {
    <h2>Edit Profile</h2>
    <form [formGroup]="editForm" class="edit-profile-form">

        <div class="user-fields">
            <app-input-field [control]="getControl('name')" [inputType]="'text'" [label]="'Name'"
                [validationMessages]="validator_map['name']"></app-input-field>

            <app-input-field [control]="getControl('birthDate')" [inputType]="'date'" [label]="'BirthDate'"
                [validationMessages]="validator_map['birthDate']"></app-input-field>
        </div>

        <app-address-field [addressForm]="addressForm"></app-address-field>

        <div class="control-buttons">
            <button matButton="filled" (click)="saveChanges()">Save!</button>
            <button matButton="filled" class="cancel-btn" (click)="changesSaved.emit()">Cancel Changes</button>
        </div>

    </form>
    }
    @else {
    <div class="spinner-container">
        <h4>Saving Changes...</h4>
        <mat-spinner class="spinner"></mat-spinner>
    </div>


    }
</mat-card>