<mat-card class="edit-profile-card">
    @if (!loading()) {
    <form [formGroup]="editForm" class="edit-profile-form">
        <h2>Edit Profile</h2>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="editForm.get('name')?.touched && editForm.get('name')?.invalid">
                Name is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Birth Date</mat-label>
            <input matInput type="date" formControlName="birthDate" />
            <mat-error *ngIf="editForm?.get('birthDate')?.touched && editForm.get('birthDate')?.invalid">
                Birth date is required.
            </mat-error>
        </mat-form-field>

        <app-address-field [addressForm]="addressForm"></app-address-field>

        <div class="control-buttons">
            <button matButton="filled" (click)="saveChanges()">Save!</button>
            <button matButton="filled" class="cancel-btn" (click)="changesSaved.emit()">Cancel Changes</button>
        </div>


    </form>
    }
    @else {
    <div class="spinner-container">
        <h4>Saving Changes...</h4>
        <mat-spinner class="spinner"></mat-spinner>
    </div>


    }
</mat-card>