@if (!userStore.user()) {
<mat-spinner class="spinner"></mat-spinner>
}
@else {
<mat-card class="profile-card">

    @if (inEditMode()) {
    @defer {
    <app-edit-profile (changesSaved)="setEdit()"></app-edit-profile>
    }
    }
    @else {
    <app-profile-header [inEditMode]="inEditMode()" (deleteTrigger)="handleDelete($event)" (editTrigger)="setEdit()" />

    <div class="top-profile">
        <div class="profile-field">
            <strong>Name:</strong> {{ user()?.name }}
        </div>
        <div class="profile-field">
            <strong>Email:</strong> {{ user()?.email }}
        </div>
        <div class="profile-field">
            <strong>Birth Date:</strong> {{ user()?.birthDate }}
        </div>
    </div>
    <app-profile-address [address]="user()?.address!"></app-profile-address>
    }
</mat-card>
}